@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

body {
  width: 768px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  margin: 25px 0;
  border-bottom: 1px solid lightgrey;
}

main section {
  width: 20%;
}
